body{
    font-family: 'Baloo Tamma 2', cursive;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
h1{
    background-color: #2980b9;
    color: white;
    padding: 13px 13px 13px 20px;
    font-weight: 100;
    margin: 0 auto;
}
#container {
    margin: 100px auto;
    width: 360px;
    background-color: #dbd9d9;
    box-shadow: (0,0,0,0.5);
}
.completed{
    color: gray;
    text-decoration: line-through;
}
ul{
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
input[type=text]{
    background-color: #dbd9d9;
    border-style: none;
    color:  #2980b9;
    font-size: 18px;
    padding: 13px 13px 13px 20px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    box-sizing: border-box;

}

input[type=text]:focus{
    background-color: white;
    outline: none;
    border: 2px solid #2980b9;


}

span {
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0;
}

li:nth-of-type(odd){
    background-color: white;
}
li{
    text-transform: uppercase;
    line-height: 40px;
    color: #666

}

h1 i {
    float:right;
}
